*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-image: url(Imagens/fundo.jpg);
    color: white;
    background-size: cover;
    background-attachment: fixed;
    background-position: left left;
    display: flex;
    justify-content: center;
    
    
    
    
    
}

main{
    
    max-width: 600px;
    min-width: 300px;
    position: absolute;
    margin-top: 15%;
    margin-bottom: 15%;
    
    text-align: center;
    border-radius: 10px;
    
    border: 1px solid white;
    
}

img{
   padding: 5%;
}

h1{
    font-size: 2.85;
    font-weight: normal;
    margin:10%;
    margin-top: -10%;
    text-shadow: -3px -3px rgba(0, 0, 0, 0.438);
    
    
}

a{
    text-decoration: none;
    color: blue;
    font-weight: bolder;
}

button:hover{
    transform: scale(1.25);
}
button{
    border: none;
    background-color: #F2CB07;
    width: 200px;
    height: 50px;
    border-radius: 5px;
    animation: piscar .75s infinite alternate;
    margin: 5%;
    
}

@keyframes piscar {
    0% {
        filter: drop-shadow(0 0 15px #EBBC00);
        -webkit-filter: drop-shadow(0 0 15px #EBB402);
        -moz-filter: drop-shadow(0 0 15px #EBB402);
        -o-filter: drop-shadow(0 0 15px #EBB402);
        -ms-filter: drop-shadow(0 0 15px #DBC604);
    }
    100% {
    }
}

.animar {
    animation: piscar .85s infinite alternate;
}