/* Aula 20 Maia Quiz */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.25rem;
    font-weight: normal;
}

body {
    width: 100vw;
    height: 100vh;
    background-image: url(../Imagens/fundo.jpg);
    background-size: cover;
    background-repeat: none;
    background-attachment: fixed;
    background-position: left left;
    color: #fff;
    
}

main {
    width: 100%;
    height: 100%;
    padding: 1rem; /* espacamento interno */
}

section {
    width: 100%;
    margin: 0 auto;
    padding: 1rem;
    margin-bottom: 0.625rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer{
    margin-bottom: 5%;
    padding: 5%;
}



.centro {
    text-align: center;
}

.questao {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#numQuestao {
    display: block;
    background: #EBBC00;
    padding: 4px 10px 2px 10px;
    border-radius: 50%;
}

#pergunta {
    margin-left: 1rem;
}

/* article que acomoda a questao completa */
.questoes {
    padding: 1.5rem;
    border: 1px solid #ececec;
    border-radius: 5px;
    margin-bottom: 2rem;
}

.questoes ol li {
    display: block;
    margin: 1rem;
    padding: 1rem;
    border-radius: 8px;
}

.questoes ol li:hover {
    background: #EBBC00;
    cursor: pointer;
}

.bloqueado {
    display: none;
}

.bloqueado li:hover {
    display: none;
}

#instrucoes {
    background: #ccc;
    color: #191919;
    padding: 0.625rem;
    border-radius: 8px;

    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    animation: piscar .75s infinite alternate;
}

#aviso {
    color: #EBBC00;
}

/* ANIMACAO */

/* Animar o input */
@keyframes piscar {
    0% {
        filter: drop-shadow(0 0 15px #EBBC00);
        -webkit-filter: drop-shadow(0 0 15px #EBB402);
        -moz-filter: drop-shadow(0 0 15px #EBB402);
        -o-filter: drop-shadow(0 0 15px #EBB402);
        -ms-filter: drop-shadow(0 0 15px #DBC604);
    }
    100% {
    }
}

.animar {
    animation: piscar .85s infinite alternate;
}

.aparecer {
    animation: aparecer .65s infinite alternate;
}

@keyframes aparecer {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}